﻿@model EmployeesManagement.ViewModels.HomeDetailsViewModel


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Employee Details";
}


<h3>@Model.PageTitle.</h3>

<div>
    Name: @Model.Employee.Name;
</div>

<div>
    Name: @Model.Employee.Email;
</div>

<div>
    Name: @Model.Employee.Department;
</div>

@section Scripts {
    <script src="~/js/CustomScript.js"></script>
}