﻿@model IEnumerable<EmployeesManagement.Models.Employee>

@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Employee List";
}



    <table>

        <thead>                                 @*table head*@
            <tr>                                @*row*@
                <th>ID</th>                     @*header cell in table*@
                <th>Name</th>                   @*header cell in table*@
                <th>Department</th>             @*header cell in table*@

            </tr>
        </thead>

        <tbody>
            @foreach (var employee in Model)
            {
            <tr>                               @*row*@
                <td>@employee.Id</td>          @*th no td atsķiras tikai ar to, ka th ir bold.. h=header and d=data*@     
                <td>@employee.Name</td>
                <td>@employee.Department</td>
            </tr>
            }
        </tbody>

    </table>


